<nav class="navbar navbar-expand-sm navbar-dark  mb-3" style="background-color: #563D7C;">
<div class="container">
<a href="/" class="navbar-brand"><img style=" width:30%; " src="https://www.unedic.org/themes/custom/unedic/images/logo.svg" class="brand_logo" alt="Logo"></a>
 <button class="navbar-toggler" type="button" datatoggle="collapse" data-target="#mobile-nav">
 <span class="navbar-toggle-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="mobile-nav">
 <ul class="navbar-nav ml-auto">
 <li class="nav-item">
    <a href="/" class="nav-link">Accueil</a>
 </li>
 <li class="nav-item">
    <a href="/produit/new" class="nav-link">Ajouter</a>
 </li>
 <li class="nav-item">
    <a href="/smartphone" class="nav-link">Smartphone</a>
</li>
<li class="nav-item">
<a href="/tablette" class="nav-link">Tablette</a>
</li>
<li class="nav-item">
<a href="/ordinateur" class="nav-link">Ordinateur</a>
</li>
 </ul>
 
 </div>
</div>
</nav>